:root{
    --header-color : #e86a33;
    --paragraph-color : #333;

}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(218, 191, 84, 0.356);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.screen{
    display: none;
}
.screen.active{
    background-color: white;
    display: block;
}
#start-screen{
     box-shadow: 3px 8px 6px 4px rgba(0, 0, 0, 20%);
    background-color: #bd8167aa;
    border-radius: 1rem;
    text-align: center;
    padding: 2.5rem;
}
#start-screen h1{
    color: var(--header-color);
    margin: 1rem;
}
#start-screen p{
    margin-bottom: 1.5rem;
}
#start-screen button{
    border: 1px solid orange;
    width: 50%;
   min-height: 40px;
   border-radius: 1rem;
    background-color: #e86a33;
}
#start-screen button:hover{
    cursor: pointer;
    transition: all 3s ease;
    background-color: #ff530a;
    border: 2px solid orangered;
}

#quiz-screen{
    box-shadow: 3px 8px 6px 4px rgba(0, 0, 0, 20%);
    border-radius: 1rem;
    padding: 0 2rem;
   
   

}
#quiz-screen h3{
     text-align: center;
    margin: 1rem 4rem;
}
.quiz-header{
    font-family: sans-serif;
    font-weight: 550;
    font-size: 1.5em;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.question-list{
    list-style: none;
    margin: 2rem 0;
    line-height: 2.5rem;
      color: rgb(120, 75, 75);
    
}

.question-list  li {
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    padding: 0 0.5rem;
    cursor: pointer;
    background-color: #a0989865;
   
  
}

.answer-btn:hover{
   
    background-color: #e7bc83b2;
    border-color: #dac0ae;
}
.answer-btn.correct{
     border: 1px solid;
    color: #28a745;
    background-color: #a3f0c4;;
}
.answer-btn.incorrect{
     border: 1px solid;
    color: inherit;
    background-color: #eb3333a6;;
}
.progress-bar{
    height: 10px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
}
.progress{
    height: 100%;
    width: 10%;
     background-color: #e86a33;
   
}
#result-screen{
     box-shadow: 3px 8px 6px 4px rgba(0, 0, 0, 20%);
    background-color: #c9a190aa;
    border-radius: 1rem;
    text-align: center;
    padding: 2.5rem;
}
#result-screen h2{
    color: var(--header-color);
    margin-block: 1rem;

}
#result-screen p{
    color: var(--header-color);
    margin-block: 1rem;

}
.total-score ,.total-question{
    font-weight: 500;
    font-size: large;
    color: rgb(104, 27, 156);
    margin-block: 1rem;

}
.restart-btn{
    margin-top: 3rem;
     border: 1px solid orange;
    width: 50%;
   min-height: 40px;
   border-radius: 1rem;
    background-color: #e6794b;
}
.restart-btn:hover{
    cursor: pointer;
    transition: all 15ms ease-in-out;
    background-color: #ff4d00;
    border: 1px solid rgb(185, 78, 39);
}
    
